#login{
    // background-color: red;/
    // background-color: rgb(230, 230, 230);
    // height: 100%;
    // width: 100%;
    .man-div{
        // background-color: #f5f5f5;
        background-color: #f0f0f0d3;
        width: 100%;
        height: 100%;
        padding: 1px 0 1px 0;
        .child-div{
            background-color: white;
            width: 70%;
            height: 70%;
            text-align: center;
            margin: 50px auto 50px auto;
            border: 3px solid rgb(219, 219, 219);
            box-shadow: 10px 10px 10px #adaaaa;
            padding: 40px 0 80px 0;
            .page-title{
                margin-bottom: 40px;
            }
            .email{
                .labelEmail{
                    font-size: 20PX;
                    width: 100%;
                    margin-bottom: 20px;
                }
                .emailInput{
                    width: 50%;
                    margin-bottom: 20px;
                }
            }
            .Password{
                .labelPassword{
                    font-size: 20PX;
                    width: 100%;
                    margin-bottom: 20px;
                }
                .PasswordInput{
                    width: 50%;
                    margin-bottom: 20px;
                }
            }
            .submitButton{
                .submitButton{
                    margin: 50px 0 50px 0;
                    font-size: 20px;
                    padding: 8px 25px 39px 25px;
                }
            }
        }
    }
}