#Footer{
    max-height: 100px;
    text-align: center;
    background-color: #4e4d4d;
    position: relative;
    bottom: 0;
    width: 100%;
    // margin-top: 20px;
    .text-cenetr{
        color: white;
        line-height: 100px;
        // min-height: calc(100px - 120px);

    }
}