#Home{
    .div1{
        .Color{
            background-color: red;
        }
    }
    .homePageImage{
        .Image{
            width: 100%;
            height: 615px;
        }
    }
    .div2{
        .Color{
            color: blue;
        }
    }
}